{% extends "./base.html.twig" %}

{% block title %}
	Movies Page
{% endblock %}

{% block body %}

	<h1 class="bg-blue-500 text-2xl text-center font-bold"> Wooohooo {{ author }}</h1>
 
 	<img src="{{ asset('build/images/image1.efcc6e53.jpg') }}" alt="">
	<ul>
		{% for movie in movies %}
			<li>
				{{ movie.title }}
			</li>
		{% endfor %}
	</ul>
{% endblock %} 
